.header-elements {
    font-size: 13px;
    color: #4f4646;
    list-style-type: none;
    display: inline;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#about {
    padding-top: 14px;
    padding-left: 14px;
}

#store {
    margin-left: 20px;
}

#gmail {
    margin-left: 1000px;
}

#images {
    margin-left: 1190px;
    position: relative;
    bottom: 19px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 20%;
}

#search {
    display: block;
    border-radius: 30px;
    width: 60%;
    height: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-color: #9b9494;
    word-wrap: break-word;
}

#magnifying-glass {
    max-width: 20px;
    position: relative;
    margin-left: 470px;
    top: 70px;
}

#search-button {
    position: relative;
    width: 11%;
    left: 270px;
    top: 40px;
}

#lucky-button {
    position: relative;
    width: 12%;
    left: 280px;
    top: 40px;
}